<h1 class="text-center p-5">My inquiries</h1>
<div class="container">
  <% if @trips.first.nil? %>
    <h2 class="text-center  vh-85">It looks like you don't have inquiries yet =(</h2>
  <% else %>
  <div class="row">
    <% @trips.each do |trip| %>
        <div class="col-12 col-md-4 mb-3 mb-5">
            <div class="bg-white shadow rounded p-5 text-center">
              <%= cl_image_tag trip.sample_itinerary.photo.key, class: "img-fluid rounded" if trip.sample_itinerary && trip.sample_itinerary.photo.attached? %>
              <div class="pt-3">
                <p class="m-2"><strong>Start date:</strong> <%= trip.start_date %></p>
                <p class="m-2"><strong>End date:</strong> <%= trip.end_date %></p>
                <p class="m-2"><strong>Number of adults:</strong> <%= trip.adults %></p>
                <p class="m-2"><strong>Number of Children:</strong> <%= trip.children %></p>
                <p class="m-2"><strong>Total price:</strong> <%= trip.children %></p>
              </div>
            </div>
        </div>
    <% end %> 
  </div>
  <% end %>
</div>
|