<h1 class="text-center mt-5"><strong>What we recommend for you </strong></h1>

<p class="text-center mb-5" id="titulo-secundario">Based on your selection of <%= @values.join(", ")  %> </p>
    <% @sample_itineraries.each do |sample_itinerary| %>
    <div class="container">
      <div class="card-product" id="sample-itinerario-card-product">
        <div class="foto">
            <%= cl_image_tag(sample_itinerary.photo.key) %>      
        </div>

        <div class="card-agrupado">
          <div class="grupo-izquierda d-flex">
          <!-- grupo 1 del card superior izquierda-->
            <div class="details-product pl-3">
              <h2><%= sample_itinerary.title %></h2>
              <p style="margin-top: -0.5px">Tanzania</p>
              <p><%= sample_itinerary.description %></p>
            </div>
            <!-- grupo 2 del card superior derecha-->
            <div class="details-price pr-3">
              <p class="text-right" style="margin-bottom: 3px"><%= sample_itinerary.total_nights %> nights trip - Flexible</p>
              <h3 class="text-right pt-1">USD <%= rand(9000..12000) %> </h3>
              <h4 class="text-right">Approx price</h4>
            </div>
          </div>
          
          <div style="height:70px"></div>

          <!-- grupo container bottom-->
          <div class="container-grupo-abajo d-flex">
            <!-- grupo bottom right-->
            <div class="ruta pl-3">
              <h4 class="py-1"><%= sample_itinerary.stops.map { |stop| stop.place }.join(" - ") %></h4>
            </div>
            <!-- grupo bottom left-->
            <div class="boton-customize pr-3 text-right">
              <%= link_to "Customize Trip", generate_path(@trip, sample_itinerary_id: sample_itinerary.id), class: "btn btn-ghost" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-5"></div>
    <% end %>